@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --green-color: #185E3F; /* Define your primary color */
    --grey-color: #545F5B; /* Define your secondary color */
    --background-color: #fff; /* Define your background color */
    --brown-color: #8B0000; /* Define your button background color */
    --secondary-blue: #0057E1; /* Define your button text color */
  }

html, body {
    height: 100%;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background: #fff;
    color: #000;
    overflow-y: auto;
}

.wrapper {
    flex: 1;
}

.container {
    text-align: center;
    margin-top: 550px;
    margin-bottom: 150px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    text-align: left;
    z-index: 1;
}

a:hover img {
    transform: scale(1.05); /* Increase the size by 5% */
    transition: transform 0.2s ease; /* Add a smooth transition effect */
}

/* Header */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--green-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.logo img {
    max-height: 80px; /* Adjust the height as needed */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px; /* Adjust spacing between links */
}

nav a {
    text-decoration: none;
    color: #333; /* Link color */
}

/* styles.css */
footer {
    background-color: var(--green-color);
    color: #fff; /* Text color */
    padding: 20px;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px; /* Adjust spacing between links */
}

nav a {
    text-decoration: none;
    color: #fff; /* Link color */
}

nav a.active {
    color: #000;
}

nav a:hover{
    color: #000;
}

.copyright {
    margin-top: 20px; /* Space between navigation links and copyright text */
}
